<form #loginFormulaire="ngForm">
<label for="email">Email</label>
<input #inputMail="ngModel"
  email required
  type="text"
  ngModel name="email"
  class="form-control" id="email">

  <div class="alert alert-danger" *ngIf="inputMail.invalid && inputMail.dirty">
    Mail invalide
  </div>

  <label for="pwd">Password</label>
  <input #pwdInput="ngModel"
    required
    minlength="8"
    type="password"
    ngModel name="password"
    class="form-control" id="pwd">

    <div class="alert alert-danger" *ngIf="pwdInput.invalid && pwdInput.touched">
      Le password doit avoir au minimum 8 caractères
    </div>

<button [disabled]="loginFormulaire.invalid" class="btn btn-primary" (click)="login(loginFormulaire)">
  Se connecter
</button>

</form>
